<h1>Alben erfassen</h1>
<%= form_with model: @album, url: album_path(@album) do |f| %>
<p>Band: </p><%= f.text_field :band %>
<p>Titel: </p><%= f.text_field :title %>
<p>Jahr: </p><%= f.text_field :year %>
<%=f.submit "Änderungen speichern"%>
<%end %>
<button><a href="/albums">Abbrechen</a></button>
